<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block menu %}
        <a href="{{ path("homepage") }}">Accueil</a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Username: {{ app.user.username }}</p>
        <a href="{{ path("admin_article_index") }}">Administration</a>
        <a href="{{ path("fos_user_security_logout") }}">Déconnexion</a>
        {% else %}
            <a href="{{ path("fos_user_security_login") }}">Connexion</a>
    {% endif %}
    {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
